
@inherits LayoutComponentBase
@using BackOffice.Blazor.Shared

<div class="page">
    <div class="sidebar">
        <BackOffice.Blazor.Shared.NavMenu />
    </div>
    <main>
        @Body
    </main>
</div>
